<div class="page-header row">
	<div class="col-md-8">
      <h1>cfHealth <small ng-bind-template="Today ({{ date | date:'yyyy-MM-dd'}})"></small></h1>
    </div>
    <div class="col-md-4">
    	<!-- <button ng-click="recommend()">Recommend</button> -->
    </div>
</div>

<div>
	<div class="row">
		<div class="col-md-7 col-xs-6">
			<div class="row" style="height: 150px">
				<div class="col-md-12 {{boxClass}}">
					<p ng-bind-html-unsafe='info'></p>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<p class="text-center">Calories - {{ calculateCaloriesPercentage(calories) }}%</p>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<div class="progress">
						  <div class="progress-bar {{ barType(calculateCaloriesPercentage(calories)) }}" role="progressbar" aria-valuenow="{{ calculateCaloriesPercentage(calories) }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ calculateCaloriesPercentage(calories) }}%">
						    <span class="sr-only">{{ calculateCaloriesPercentage(calories) }}%</span>
						  </div>
				    </div>
			    </div>
			</div>
		</div>
		<div class="col-md-2 col-xs-3">
			<canvas id="intakeChart" width="200" height="200"></canvas>
		</div>
		<div class="col-md-3 col-xs-3">
			<br>
			<br>
			<br>
			<ul style="list-style:none;">
			<li><i class="icon-stop" style="color: {{ colors.protein }}"></i> Protein - {{ protein }}% </li>
			<li><i class="icon-stop" style="color: {{ colors.carbohydrates }}"></i> Carbs - {{ carbohydrates }}% </li>
			<li><i class="icon-stop" style="color: {{ colors.fat }}"></i> Fat - {{ fat }}%</li>
			</ul>
		</div>
	</div>

	<hr>

	<div class="row" ng-repeat="(name, value) in aggregates">
		<div class="col-md-4 col-xs-5">
			<p style="text-transform: capitalize;">{{ name }}</p>
		</div>
		<div class="col-md-1 col-xs-7">
			<p class="text-right">{{ value }}%</p>
		</div>
		<div class="col-md-7 col-xs-11 col-xs-offset-1">
			<div class="progress">
			  <div class="progress-bar {{ barType(value) }}" role="progressbar" aria-valuenow="{{ value }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ value }}%">
			    <span class="sr-only">{{ value }}%</span>
			  </div>
		    </div>
	    </div>
	</div>
</div>

<div>
<h4 ng-bind-template="History"></h4>
	<hr>
	<ul>
		<li ng-repeat="item in consumed" style="text-transform: capitalize">
			<abbr title="{{ item.values }}" class="initialism">{{ item.description.toLowerCase() }}</abbr>
		</li>
	</ul>
</div>

<span>{{ updateChart(protein, carbohydrates, fat) }}</span>
